/************** media quary css started *************/
/* mobile device responsive */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
        overflow-x: hidden;
    }
    .menu-bar {
        width: 100%;
    }
    .menu-title {
        position: relative;
        left: 25%;
        white-space: nowrap;
    }
    .menu-title {
        font-size: 1rem;
    }
    .responsive-bar {
        display: block;
        position: relative;
        right: 66%;
        font-size: 1rem;
    }
    .menuitems {
        flex-direction: column;
        right: 67%;
        display: none;
    }
    .hero-items{
        flex-direction: column-reverse;
    }
    .hero-content {
        text-align: center;
    }
    .hero-content h1 {
        font-size: 1.75rem;
        text-align: center;
    }
    .hero-content p {
        font-size: 0.875rem;
        text-align: center;
    }
    .hero-images {
        width: 100%;
        height: auto;
        margin-bottom: 0.875rem;
    }
    .thumbnail {
        width: 100%;
        height: auto;
    }
    .hero-images img, .thumbnail img{
        width: 100%;
        height: auto;
    }
    .product-title {
        font-size: 1rem;
    }
    .product {
        grid-template-columns: repeat(1,1fr);
    }
    .product-items {
        width: 100%;
        text-align: center;
    }
    .product-details {
        text-align: left;
    }
    .logo-items {
        flex-wrap: wrap;
        row-gap: 1.5rem;
    }
    .featurs {
        flex-direction: column-reverse;
        text-align: center;
    }
    .feature-image, .feature-content{
        width: 100%;
    }
    .feature-content h1 {
        font-size: 1.75rem;
        text-align: center;
        white-space: inherit;
    }
    .feature-button {
        margin-bottom: 1.875rem;
    }
    .feature-image img {
        width: 100%;
        height: auto;
    }
}
/* tablate device responsive */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container {
        width: 100%;
    }
    .product {
        grid-template-columns: repeat(2,1fr);
        margin: 0 1.875rem 0 1.875rem;
    }
    .product-items {
        width: 100%;
    }
    .thumbnail {
        width: 100%;
    }
    .thumbnail img {
        width: 100%;
    }
}